<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1589da40-de9e-4c56-9a39-90826e8864ba" Publisher="CN=Javier" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PaintR</DisplayName>
    <PublisherDisplayName>Javier Suárez Ruiz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PaintR.App">
      <VisualElements DisplayName="PaintR" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PaintR" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>